.header{
    display: flex;
    justify-content: center;
    background: 100% url("../../public/hatBackground.jpg");
    max-width: 100%;
    min-height: 59.5rem;
   
}

.logo{
    margin-top: 19.375rem;
    width: 18.6875rem;
    height: 18.9375rem;
    z-index: 1;
    background: url("../../public/logo.png");
    background-position: center;
    background-size: 100%;
}