@use "@/assets/styles/globals.scss" as *;


.buttonMenu {
    position: fixed;
    top: rem(53);
    right: rem(69);
    z-index: 222;
    // display: flex;
    // justify-content: flex-end;
    // padding-top: rem(53);
    // padding-right: rem(69);

    @include xsm {
        min-width: rem(199);
        min-height: rem(82);
        left: 50%;
        transform: translate(-50%);
    }

    .button {
        min-width: rem(199);
        min-height: rem(82);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(60);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(rem(10));
        border: none;
        @include sbc-font-Regular();
        font-size: font(15);
        line-height: 120%;
        letter-spacing: 1em;
        color: color(white);
        text-transform: uppercase;
        text-shadow: 0px rem(14) rem(14) rgba(0, 0, 0, 0.25);

        @include xsm {
            min-width: rem(199);
            min-height: rem(82);
        }

        span{
            position: absolute;
            width: rem(28);
            height: rem(1);
            background-color: color(white);
        }
        span:nth-of-type(2){
            margin-bottom: rem(7);
        }
        span:nth-of-type(3){
            margin-top: rem(7);
        }

        &:hover {
            transition: all 100ms ease-in;
            background: rgba(color(classic), 0.8);
            cursor: pointer;
        }

    }
}