@use "@/assets/styles/globals.scss" as *;




.buttonMenu {
    position: absolute;
    top: rem(53);
    right: rem(69);

    @include xsm {
        min-width: rem(199);
        min-height: rem(82);
        left: 50%;
        transform: translate(-50%);
    }

    .button {
        min-width: rem(199);
        min-height: rem(82);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(60);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(rem(10));
        border: none;
        @include font-kurale();
        font-size: font(15);
        line-height: 120%;
        letter-spacing: 1em;
        color: color(white);
        text-transform: uppercase;
        text-shadow: 0px rem(14) rem(14) rgba(0, 0, 0, 0.25);

        @include xsm {
            min-width: rem(199);
            min-height: rem(82);
        }

        &:hover {
            transition: all 100ms ease-in;
            background: rgba(color(classic), 0.8);
            cursor: pointer;
        }

    }
}