@use "@/assets/styles/globals.scss" as *;

.container {
    position: absolute;
    bottom: rem(45);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(24) rem(50);
    gap: rem(10);
    border-radius: rem(120);
    background: color(white);

    .button {
        @include font-kurale();
        font-size: font(24);
        line-height: 130%;
        text-align: center;
        color: color(blue);
        @include xsm {
            font-size: font(15);
        }
    }
}