@use "@/assets/styles/globals.scss" as *;

.spendTimeOn{
    // position: absolute;
    top: rem(593);
    left: rem(131);
    max-width: rem(312);
    @include sbc-font-Regular();
    font-size: font(16);
    color: color(blue);
    text-align: start;
    line-height: 130%;
    z-index: 44;
    span{
        @include sbc-font-Bold();
    font-size: font(16);
    color: color(blue);
    padding-bottom: rem(15);
    }
    p{
        padding-left: rem(10);
    }
    p::before {
        content: "";
        display: inline-block;
        background: color(blue);
        width: rem(3.2); 
        height: rem(3.2);
        border-radius: 50%;
        margin-inline-end: 1ch;
        margin-bottom: rem(3.2);
    }
}