@use "@/assets/styles/globals.scss" as *;


.container {
    position: relative;
    max-width: 100%;
    min-height: rem(2361);

    .aboutIndigo {
        display: flex;
        z-index: 3;
        padding-top: rem(139);
        margin: 0 auto;
        max-width: rem(1017);
        justify-content: center;
        flex-direction: column;

        h3 {
            @include font-kurale();
            color: color(blue);
            font-size: font(80);
            line-height: 130%;
            text-align: center;
            z-index: 1;
        }

        .delimiter {
            min-width: rem(311);
            margin: 0 auto;
            margin-top: rem(26);
            height: rem(1);
            background-color: color(blue);
            background-size: rem(1) rem(311);
            z-index: 1;
        }

        .info {
            display: flex;
            padding-top: rem(54);
            justify-content: space-between;
            z-index: 2;

            .blockInfo {
                max-width: rem(414);

                p {
                    @include sbc-font-Regular();
                    font-size: font(22);
                    line-height: 130%;
                    padding-bottom: rem(35);
                    color: color(blue);
                    
                }
                .firstLitter:first-child {
                    &::first-letter {
                        @include font-kurale();
                        font-size: font(80);
                        float: left;
                        padding-top: rem(18);
                        margin-right: rem(5); 
                      }
                }
            }
        }

    }
}