@use 'sass:map';

$breakpoints: (
  xlg: 1692px,
  lg: 1440px,
  md: 1080px,
  xsm: 575px
);

$breakpoints-fonts: (
  xlg: 0.95vw,
  lg: 1.11vw,
  md: 1.48148148vw,
  xsm: 3.72vw,
);

@mixin transform {
  @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
      transform: rotate(+$i*36deg) !important;
    }
  }
}

@function point($name) {
  @return map.get($breakpoints, $name);
}

@mixin generate-grid {

  @each $name,
  $size in $breakpoints-fonts {
    @media screen and (max-width: point($name)) {
      font-size: var(--breakpoint-font-#{$name});
    }
  }
}

// @mixin xlg {
//   @media screen and (max-width: point(xlg)) {
//     @content;
//   }
// }

@mixin xlg {
  @media screen and (max-width: point(xlg)) {
    @content;
  }
}

@mixin xsm {
  @media screen and (max-width: point(xsm)) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: point(md)) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: point(lg)) {
    @content;
  }
}

// @mixin md {
//   @media screen and (max-width: point(md)) {
//     @content;
//   }
// }


// @mixin xsm {
//   @media screen and (max-width: point(xsm)) {
//     @content;
//   }
// }