// @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@font-face {
  font-family: 'Kurale';
  src: url('../fonts/Kurale-Regular.ttf');
}

@font-face {
  font-family: 'sbc-font-Bold';
  src: url('../fonts/sbc-font-Bold.ttf');
}

@font-face {
  font-family: 'sbc-font-Regular';
  src: url('../fonts/sbc-font-Regular.ttf');
}

$fonts: (
    
    11: 0.6875rem,
    12: 0.75rem,
    14: 0.875rem,
    15: 0.9375rem,
    16: 1rem,
    18: 1.125rem,
    19: 1.1875rem,
    20: 1.25rem,
    22: 1.375rem,
    23: 1.4625rem, //23.4
    24: 1.5rem,
    25: 1.5921rem,
    30: 1.875rem,
    32: 2rem,
    35: 2.1875rem,
    40: 2.5rem,
    43: 2.6875rem,
    48: 3rem,
    50: 3.125rem,
    56: 3.5rem,
    64: 4rem,
    70: 4.375rem,
    80: 5rem,
    128: 8rem,
    160: 10rem,
);

@function font($name) {
  @if not map-get($fonts, $name) {
    @error '"#{$name}" is not a valid font value';
    @return var(--invalid-font-size-name);
  }
  @return var(--font-size-#{$name});
}


@mixin font-kurale() {
  font-family: 'Kurale', sans-serif;
  font-weight: 400;
}

@mixin font-kurale-light() {
  font-family: 'Kurale', sans-serif;
  font-weight: 300;
}

@mixin sbc-font-Bold() {
  font-family: 'sbc-font-Bold', sans-serif;
  font-weight: 400;
}

@mixin sbc-font-Regular() {
  font-family: 'sbc-font-Regular', sans-serif;
  font-weight: 400;
}

// @mixin font-hauora-light() {
//   font-family: 'Hauora', sans-serif;
//   font-weight: 300;
// }
// @mixin font-hauora-regular() {
//   font-family: 'Hauora', sans-serif;
//   font-weight: 400;
// }
// @mixin font-hauora-medium() {
//   font-family: 'Hauora', sans-serif;
//   font-weight: 500;
// }

// @mixin font-hauora-rare() {
//   font-family: 'Hauora', sans-serif;
//   font-weight: 600;
// }

// @mixin font-hauora-bold() {
//   font-family: 'Hauora', sans-serif;
//   font-weight: 700;
// }
// @mixin font-hauora-extrabold() {
//   font-family: 'Hauora', sans-serif;
//   font-weight: 800;
// }

// @mixin font-montserrat-medium() {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 500;
// }
// @mixin font-montserrat-bold() {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 700;
// }
// @mixin font-montserrat-extrabold() {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 800;
// }