@use './colors' as *;
@use './functions' as *;
@use './grid' as *;

// @import '../fonts/stylesheet';
@import './normalize';
@import './typography';

// @import './smoothscroll.scss';


:root {
    @each $name, $color in $colors {
        --color-#{'' + $name}: #{$color};
    }
    @each $name, $font in $fonts {
        --font-size-#{'' + $name}: #{$font};
    }
    @each $name, $point in $breakpoints {
        --breakpoint-#{'' + $name}: #{$point};
    }
    @each $name, $size in $breakpoints-fonts {
        --breakpoint-font-#{'' + $name}: #{$size};
    }
}

html {
    color: color(black);
    @include generate-grid();
    font-size: var(--breakpoint-font-xlg);
}

html, body {
    position: relative;
    overscroll-behavior-y: none;
    background-color: color(white-100);
}