@use "@/assets/styles/globals.scss" as *;


.container {
    max-width: 100%;
    height: rem(946);
    background: 100% url("/backgroundMe.jpg");
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .aboutMe {
        max-width: rem(987);
        margin-left: 9.0625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font-kurale();

        .myName {
            max-width: rem(345);
            height: rem(312);
            display: flex;
            align-items: center;
            font-size: font(80);
            line-height: 130%;
            color: colot(peach);
        }

        .myWay {
            max-width: rem(574);
            height: rem(501);
            margin-left: rem(80);
            background: rgba(0, 16, 78, 0.12);
            backdrop-filter: blur(rem(22));
            border-radius: rem(41);
            @include font-kurale();
            font-size: font(30);
            font-style: normal;
            line-height: 130%;
            color: color(peach);
            .text{
                padding: rem(80);
                > p:first-child{
                    padding-bottom: 33px;
                }
            }
        }
    }
}

