@use "@/assets/styles/globals.scss" as *;


.consultations{
    position: relative;
    max-width: rem(687);
    background: rgba(0, 16, 78, 0.12);
    backdrop-filter: blur(1.375rem);
    border-radius: rem(171);

}
.container {
    position: relative;
    max-width: rem(687);
    // background: rgba(0, 16, 78, 0.12);
    // backdrop-filter: blur(1.375rem);
    // border-radius: rem(171);
    padding: rem(50) rem(63);
    display: flex;
    align-items: center;
    z-index: 2;
    @include font-kurale();
    font-size: font(35);
    line-height: 130%;
    margin-bottom: rem(20);

    @include xsm {
        font-size: font(19);
        max-width: rem(330);
        padding: rem(22) rem(30);
    }

    .button {
        position: absolute;
        left: rem(601);
        min-width: rem(22.5);
        min-height: rem(22.5);
        cursor: pointer;

        @include xsm {
            left: rem(289);
            max-width: rem(10.82);
            max-height: rem(5.53);
        }

        // .image {
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        // }

    }
}

.container p:last-of-type {
    padding-left: rem(40);

    @include xsm {
        padding-left: rem(18.82);
    }
}

.accordion{
    opacity: 1;
    transform: 
    heigth 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordionNan{
    opacity: 0;
    height: 0;
    transform: 
    opacity 0.3s ease-in-out,
    heigth 0.3s 0.3s ease-in-out;

}